.joinButton{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
  }
  
  .joinNow{
    font-size: 6.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 60%;
  letter-spacing: -0.0704rem;
  cursor: pointer;
  }
  
  .joinNow:hover{
    background-color: #fff800;
  }
  
  .joinButton p{
    font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 3rem */
  letter-spacing: -0.022rem;
  }
  
  .joinButton p > a{
    /* background: linear-gradient(93deg, #D706F9 59.91%, #F20909 100%); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.022rem;
  }

  .animateCharcter
{
  cursor: pointer;
  font-size: 2rem;
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      /* font-size: 190px; */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media (max-width:480px) {
    .joinButton{
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
      }
      
      .joinNow{
        font-size: 3.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 60%;
      letter-spacing: -0.0704rem;
      cursor: pointer;
      }
      
      .joinNow:hover{
        background-color: #fff800;
      }
      
      .joinButton p{
        font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 3rem */
      letter-spacing: -0.022rem;
      }
      
      .joinButton p > a{
        /* background: linear-gradient(93deg, #D706F9 59.91%, #F20909 100%); */
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.022rem;
      }
}